.aboutBanner{
    width: 100%;
    height: 600px;
    position: relative;
}
.aboutBanner > img{
    width: 100%;
    height: 100%;
    object-fit: contain ;
    object-position: bottom;
    filter:
    drop-shadow(0 0px 40px #3b83f646)
    drop-shadow(0 12px 30px rgba(59, 131, 246, 0.12))
    drop-shadow(0 20px 45px rgba(0,0,0,0.15));
}
.aboutBanner::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--);
    backdrop-filter: 400px;
    bottom: 0px;
    filter:
    drop-shadow(0 0px 40px #3b83f646)
    drop-shadow(0 12px 30px rgba(59, 131, 246, 0.12))
    drop-shadow(0 20px 45px rgba(0,0,0,0.15));
    z-index: -1;
}


.sectionContent p{
    font-size: 18px;
    font-weight: 300;
    color: var(--para-color);
    font-family: var(--font-lato);
    line-height: 1.4;
}
.statsContainer{
    margin-top: 80px;
}
.statsContainer ul{
    border: 1px solid transparent;
    filter:
    drop-shadow(0 0px 40px #3b83f646)
    drop-shadow(0 12px 30px rgba(59, 131, 246, 0.12))
    drop-shadow(0 20px 45px rgba(0,0,0,0.15));
    background-color: #3a404b1e;
    padding-block: 24px;
}
.statsContainer ul li{
    padding: 0px 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid #ffffff36;
}
.statsContainer ul li:nth-child(1){
    border-left: none;
}
.statsContainer ul li span{
    color: var(--accent-color);
    font-size: 32px;
}
.statsContainer ul li h4{
    font-family: var(--font-lato);
    font-weight: 300;
    color: #DFDFDF;
    font-size: 16px;
    line-height: 1.2;
}