.bannerContainer{
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.bannerContainer img{
    object-fit: cover;
    object-position: top;
    filter:
    drop-shadow(0 70px 40px #3b83f646)
    drop-shadow(0 12px 30px rgba(59, 131, 246, 0.12))
    drop-shadow(0 20px 45px rgba(0,0,0,0.15));
}
.bannerContainer::before{
    content: "";
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0;
    background-color: #3a404b1e;
    backdrop-filter: 400px;
    border-radius: 50%;
    z-index: -1;
}

.sectionContent{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionContent h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    color: #d0e2ff;
}
.sectionContent h1 span{
    color: var(--accent-color);
}

.sectionContent h2{
    font-size: 24px;
    font-weight: 300;
    color: #707070;
}
.sectionContent h3{
    font-size: 28px;
    color: #959595;
}
.sectionContent p{
    font-weight: 300;
    color: var(--para-color);
}
.socailLinks{
    margin-top: 20px;
    margin-bottom: 30px;
}
.socialItems{
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff1a;
    backdrop-filter: 4px;
}