.bannerContainer{
    position: relative;
    height: clamp(400px,40vw,500px);
    width: clamp(400px,40vw,500px);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.bannerContainer img{
    object-fit: cover;
    object-position: top;
    filter:
    drop-shadow(0 70px 40px #3b83f646)
    drop-shadow(0 12px 30px rgba(59, 131, 246, 0.12))
    drop-shadow(0 20px 45px rgba(0,0,0,0.15));
}
.bannerContainer::before{
    content: "";
    width: clamp(350px,40vw,450px);
    height: clamp(350px,40vw,450px);
    position: absolute;
    bottom: 0;
    background-color: #3a404b1e;
    backdrop-filter: 400px;
    border-radius: 50%;
    z-index: -1;
}

.sectionContent{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionContent h1{
    text-transform: uppercase;
    font-size: clamp(30px,4vw,45px);
    line-height: 1.2;
    font-weight: 500;
    color: #d0e2ff;
}
.sectionContent h1 span{
    color: var(--accent-color);
}

.sectionContent h2{
    font-size: clamp(18px,2.8vw,24px);
    font-weight: 300;
    color: #707070;
}
.sectionContent h3{
    font-size: clamp(22px,2.8vw,28px);
    color: #959595;
}
.sectionContent p{
    font-weight: 300;
    color: var(--para-color);
}
.socailLinks{
    margin-top: 20px;
    margin-bottom: 30px;
}
.socialItems{
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff1a;
    backdrop-filter: 4px;
}
@media (min-width:1024px) and (max-width:1240px){
    .heroSection{
        padding-block: 90px;
    }
    .bannerContainer{
        height: 350px;
        width: 350px;
    }
    .bannerContainer::before{
        width: 350px;
        height:350px ;
    }
}
@media (max-width:1024px){
    .heroSection{
        padding-block: clamp(28px,3vw,60px);
    }
}