.experCard{
    background-color: #3a404b1e;
    backdrop-filter: 400px;
    padding: 50px 30px;
    border-radius: 12px;
    transition: all ease-in-out .5s;
}
.experCard:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.02);
}
.experCard article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.sectionContent h4{
    font-size: 20px;
    padding-bottom: 0.4rem;
}
.sectionContent p{
    font-size: 18px;
    font-weight: 300;
    color: var(--para-color);
    font-family: var(--font-lato);
    line-height: 1.4;
    padding-inline: 20px;
}