.projectCard {
  height: 600px;
  position: relative;
  width: 100%;
}
.projectCard video {
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: fill;
  object-position: center;
  width: 100%;
  z-index: -1;
  height: 100%;
}
.projectCard::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3a404bba;
}

.videoContainer {
  position: relative;
  z-index: 1;
  border: 2px solid var(--accent-color);
  width: 340px;
  padding: 32px;
  height: 270px;
}
.cardContent {
  position: relative;
  z-index: 1;
}

.mainContent{
    background-color: rgba(44, 114, 255, 0.6);
    backdrop-filter: blur(14px);
    height: 100%;
    padding: 32px;
}

.cardContent::-webkit-scrollbar {
  display: none;
}

@media (max-width:1024px) {
  .projectCard{
    height: max-content;
  }
}